# data and cache
__pycache__/
checkpoints/
data/
.vscode/

# cluster job files
clusterjob*.sh
# example files
utils/print.py

# cluster output files
*.out

# symlink to data
vol_folder

# temporary training outputs
tmp/
